body{
  background: #333;
  color: #fff;
 padding-top: 40px;
 text-align: center;
}
img{
  width: 500px;
  margin: auto;
  display: block;
}


form {
  text-align: center;
}

button.button-primary{
  background: black;
  border: none;
}

.button.button-primary:focus, .button.button-primary:hover, button.button-primary:focus, button.button-primary:hover, input[type=button].button-primary:focus, input[type=button].button-primary:hover, input[type=reset].button-primary:focus, input[type=reset].button-primary:hover, input[type=submit].button-primary:focus, input[type=submit].button-primary:hover{
  background-color: #222;
}

.wrapper{
  min-height: 80px;
  border: 3px solid #fff;
  margin: auto;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper h3 {
  padding: 0px;
  margin: 0px;
}
